* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;
  /* background-color: aliceblue; */
}

body {
  background-color: #171b26;
  height: 100vh;
}

.mainContainer {
  position: relative;
  height: 100%;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 3px solid #fff;
  background-color: black;
}

.imageContainer {
  display: flex;
  width: 100px;
  height: 100%;
  justify-content: start;
}

ul {
  display: flex;
  justify-content: start;
  width: 100%;
  list-style-type: none;
  gap: 50px;
  /* position: relative; */
}

.userInfo {
  position: absolute;
  height: 100px;
  border: 1px solid black;
  margin-left: auto;
  margin-top: 0;
}

li {
}

.homeSearchWatcList li {
  position: relative;
  display: flex;
  align-items: center;
}

.homeSearchWatcList li::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust this value to control the distance of the line from the bottom of the li element */
  left: 0;
  right: 0;
  height: 3.5px; /* Adjust this value to control the thickness of the line */
  background-color: #fff; /* Adjust this value to control the color of the line */
  opacity: 0; /* Initially hide the line */
  transition: opacity 0.3s ease-in; /* Add a transition effect for smooth appearance */
}

.homeSearchWatcList li:hover::after {
  opacity: 1; /* Show the line when hovering over the li element */
}

.profileSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  height: 100%;
  width: 25%;
}

.profileSection:hover {
  height: 250px;
  border: 1px black solid;
}

.picture {
  height: 28px;
  width: 28px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.carousel {
  position: relative;
  height: fit-content;
  border: 1px black solid;
  border-radius: 10px;
  overflow: hidden;
}

.movie {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  column-gap: 50px;
}

.movie li {
  display: flex;
  padding-left: 20px;
  /* justify-content: center; */
}

.movie > * {
  width: 33.3333%;
}

.movieInfo {
  position: absolute;
  z-index: 100;
  height: 300px;
  width: 400px;
  padding: 2rem;
  background-color: #fff;
  right: -400px;
}
.movieInfo:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #fff;
  border-bottom: 13px solid transparent;
  top: calc(50% -13px);
  left: -25px;
}

.movieInfo.displayBoxToTheLeft:before {
  left: initial;
  right: -25px;
  border-right: initial;
  border-left: 26px solid;
}

.topTenParentElement,
.directors,
.typesOfgenre,
.userWatchlistParentElement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-top: 175px;
  margin-left: 50%;
  transform: translate(-50%, -10%);
  width: 90%;
  height: 250px;
  border-radius: 10px;
  column-gap: 15px;
  row-gap: 15px;
}

@media (max-width: 768px) {
  .directors
   {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.typesOfgenre > div,
.directors > div,
.userWatchlistParentElement > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typesOfgenre > div:hover {
  scale: 1.01;
}

.carouselParentContainer {
  display: flex;
  align-items: center;
}

.fa-chevron-right,
.fa-chevron-left {
  scale: 2;
}

.fa-chevron-right {
  padding-left: 20px;
}

.fa-chevron-left {
  padding-right: 20px;
}

.smallDots {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  gap: 20px;
  width: 50%;
  margin-left: auto;
  margin-top: 230px;
  margin-right: 10px;
}

img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px black solid;
}

img:hover {
  border-width: 5px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.description {
  border-bottom: 1px black solid;
}

.trailerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  width: 33.3333%;
  margin: 0 auto;
}

.trailerSection {
  height: 50%;
}

.trailerPopup {
  background-color: red;
}

.selectByDirectors,
.selectByGenres {
  color: black;
}

.moviesBy {
  text-align: center;
}

.filmInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.textColor {
  color: black;
}

.year,
.description {
  margin-bottom: 20px;
}

.bubbleSpeech {
  display: grid;
  justify-content: space-around;
}

.imageMovieWrapper {
  position: relative;
}
.displayBoxToTheLeft {
  right: initial;
  left: -400px;
}
