:root {
  --primary-color: #171b26;
  --secondary-color: black;
  --tertiary-color: #fff;
  --fable-typography-label-600-font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Caveat", cursive;
  font-family: "Onest", sans-serif;
  list-style: none;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Rowdies', sans-serif; */

  font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
  font-size: var(--fable-typography-label-600-fontsize);
  font-weight: var(--fable-typography-label-600-font-weight);
}

body {
  background-color: var(--primary-color);
  height: 100vh;
}

.prev,
.next {
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.mainContainer {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

/*  media query section starts*/

@media only screen and (max-width: 600px) {
  /* .homeSearchWatcList {
    display: grid;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  } */
  .imageContainer {
    padding-top: 10px;
  }
  main {
    margin-top: 0px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    align-content: space-between;
  }
}



@media (max-width: 600px) {
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 30px;
    border: none;
    color: #fff;
    display: none;
  }
}

/*  media query section ends */

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  position: relative;
}

.imageContainer {
  display: flex;
  width: 100px;
  height: fit-content;
  justify-content: start;
}

.homeSearchWatcList {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  gap: 50px;
}

.userInfo {
  position: absolute;
  height: 100px;
  border: 1px solid;
  margin-left: auto;
  margin-top: 0;
}

.homeSearchWatcList li {
  position: relative;
  display: flex;
  align-items: center;
}

.homeSearchWatcList li::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust this value to control the distance of the line from the bottom of the li element */
  left: 0;
  right: 0;
  height: 0.5px; /* Adjust this value to control the thickness of the line */
  background-color: #fff; /* Adjust this value to control the color of the line */
  opacity: 0; /* Initially hide the line */
  transition: opacity 0.3s ease-in; /* Add a transition effect for smooth appearance */
}

.homeSearchWatcList li:hover::after {
  opacity: 1; /* Show the line when hovering over the li element */
}

/* .profileSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  height: 100%;
  width: 25%;
}

.profileSection:hover {
  height: 250px;
  border: 1px black solid;
} */

.picture {
  height: 28px;
  width: 28px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.carousel {
  width: 400px;
  position: relative;
  height: fit-content;
  border: 1px black solid;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}

.movie {
  display: flex;
  justify-content: space-between;
  /* margin-top: 50px; */
  column-gap: 50px;
  flex: 1;
}

.movie > * {
  flex: 1;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  height: 300px;
  width: 400px;
  padding: 2rem;
  background-color: #fff;
  right: -400px;
}
.movieInfo:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #fff;
  border-bottom: 13px solid transparent;
  top: calc(50% -13px);
  left: -25px;
}

.movieInfo.displayBoxToTheLeft:before {
  left: initial;
  right: -25px;
  border-right: initial;
  border-left: 26px solid;
}

.topTenParentElement,
.directors,
.typesOfgenre,
.userWatchlistParentElement {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 0.25fr));
  align-items: center;
  margin-top: 200px;
  margin-left: 50%;
  transform: translate(-50%, -10%);
  width: 90%;
  height: 250px;
  border-radius: 10px;
  gap: 15px;
}

.typesOfgenre > div,
.directors > div,
.userWatchlistParentElement > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typesOfgenre > div:hover {
  scale: 1.01;
}

.carouselParentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-chevron-right {
  padding-left: 20px;
}

.fa-chevron-left {
  padding-right: 20px;
}

.smallDots {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  gap: 20px;
  width: 50%;
  margin-left: auto;
  margin-top: 230px;
  margin-right: 10px;
}

img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px black solid;
}

img:hover {
  border-width: 5px;
}

.title {
  display: flex;
  justify-content: center;
}

.description {
  text-align: justify;
}

.trailerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  width: 33.3333%;
  margin: 0 auto;
}

.trailerSection {
  height: 50%;
}

.trailerPopup {
  background-color: red;
}

.selectByDirectors,
.selectByGenres {
  color: black;
  width: fit-content;
}

.moviesBy {
  text-align: center;
  color: white;
}

.filmInfo {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}

.textColor {
  color: black;
}

.year,
.description {
  margin-top: auto;
  margin-bottom: auto;
}

.fa-heart {
  height: 100px;
  width: 300px;
  z-index: 101;
}

.bubbleSpeech {
  display: grid;
  justify-content: space-around;
}

.imageMovieWrapper {
  position: relative;
}
.typesOfgenre .imageMovieWrapper {
  position: unset;
}

.displayBoxToTheLeft {
  right: initial;
  left: -400px;
}

option {
  text-align: center;
}

.a-regular {
  background-color: red;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in;
}

/* responsiveness begins*/

@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
  }
}

/* @media only screen and (max-width: 600px) {
  .homeSearchWatcList {
    flex-direction: column;
  }
} */



@media only screen and (max-width: 600px) {
  .carousel .description,
  .filmInfo {
    flex-direction: column;
    flex-grow: 2;
  }
}

@media (max-width: 900px) {
  .movie {
    flex-direction: column;
    row-gap: 30px;
  }
  .filmInfo {
    text-align: center;
  }
}



/* responsiveness ends*/

/* Element begins */

footer {
  height: 50px;
  border-top: 3px solid var(--tertiary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: fit-content;
  border: none;
  border-bottom: 3px solid #fff;
  background-color: black;
  color: #fff;
}

/* Element ends */

/* index.html start */
.user-account {
  display: flex;
  justify-content: space-around;
  height: 200px;
  width: 300px;
  border: var(--tertiary-color) solid 3px;
  border-top: none;
  position: absolute;
  right: 0px;
  top: 0px;
  visibility: hidden;
}

.user-account > * {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

/* index.html end */
